header {
  /* text-align: center; */
  float: left;
  font-size: 36px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-display: swap;
  color:#1f2733;
  line-height: 1.8;
  text-shadow:none;
  margin-bottom:1rem;
  width: 100%;
}

.bank {
  margin-left: 20px;
}

.main-font {
  font-family: canada-type-gibson,Quicksand,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-display:swap;
  color:#1f2733;
  line-height:1.15;
  text-shadow:none;
  margin-bottom:1rem;
  font-size: 36px;
  font-weight: 750;
}

.main-style {
  margin: 20px;
}

.OZK {
  font-weight: 900;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
